<div class = "chat-header">
  <div class = "left-header">
    <div class = "header-title">
      Kimroom
    </div>
  </div>
  <div class = "right-header">
    <div class = "header-button">
      <a href = "#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class = "messages">
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        Kim
      </div>
      <div class = "message-date">
        2021/09/19(Sun) 16:07:30
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
        こんにちは
      </div>
    </div>
  </div>
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        Kim
      </div>
      <div class = "message-date">
        2021/09/19(Sun) 16:07:30
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
        やあやあ
      </div>
    </div>
  </div>
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        Kim
      </div>
      <div class = "message-date">
        2021/09/19(Sun) 16:07:30
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
        またくるー
      </div>
    </div>
  </div>
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        Kim
      </div>
      <div class = "message-date">
        2021/09/19(Sun) 16:07:30
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
        行ってきます
      </div>
    </div>
  </div>
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        Kim
      </div>
      <div class = "message-date">
        2021/09/19(Sun) 16:07:30
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
        おかえり
      </div>
    </div>
  </div>
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        Kim
      </div>
      <div class = "message-date">
        2021/09/19(Sun) 16:07:30
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class = "form">
  <div class = "form-input">
    <input class = "form-message" placeholder = "type a message">
    <label class = "form-image">
      <span class = "image-file">画像</span>
      <input type = "file" class = "hidden">
    </label>
  </div>
  <input class = "form-submit" type = "submit" value = "送信">
</div>